div {
  color: white;
  background-color: black;
  padding: 2%;
};

pre {
  color:orange;
  font-weight: bold;
}

button {
  padding: 1%;
  background-color: black;
  color: white;
  border-radius: 15%;
}