div.app {
  margin: 0;
  position: absolute;
  top: 25%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

button {
  background-color: teal;
  border-radius: 5px;
  color: white;
}
