h1 {
  color: green;
  text-align: center;
};

.picker {
  color: green;
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
}

button {
  margin-top: 20px;
  display: block;
  margin: 0 auto;
}

pre {
  display: block;
  text-align: center;
  margin-top: 40px;
  font-size: 20px;
}